@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Philosopher:wght@400;700&display=swap");

/* varialbes */

:root {
  /* colors */
  --bc: #000000;
  --bcw: #ffffff;
  --light-background: #f6eee5;
  --headings: #6b3f15;
  --hight-light: #e89923;
  --active-button: #ffd552;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* base styles */

* {
  box-sizing: border-box;
  /* outline: 2px dotted red; */
}

/* fonts */

h1,
h2,
h3 {
  font-family: "Philosopher", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
}

/* mobil 320px first styles */

.navMobil {
  display: flex;
  justify-content: space-between;
}
.hamburguer svg {
  height: 65px;
  width: 70px;
}
nav {
  background-image: url(../images/backgroundNav.jpg);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* positioning the close button */
  display: flex;
  /* justify-content: space-around; */

  /* animate slide up and down */
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
nav:target {
  /* menu fall down when clicking the hamburger menu */
  transform: translateY(0);
}
/* nav svg {
  border: solid 3px red;
} */
nav ul {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  flex-basis: 480px;
  max-width: 100%;
}
nav li {
  width: 100%;
}
nav li:first-child a {
  color: var(--hight-light);
}
nav a {
  font: bold 20px/150% "Lato", sans-serif;
  padding: 0.5rem 1rem;
  display: block;
  color: var(--bc);
}
nav a:hover {
  background-color: var(--active-button);
}
.logoImg {
  max-width: 18vw;
}
.logo a:hover {
  background-color: transparent;
}

nav li svg {
  margin-left: 5px;
}

.close {
  align-items: flex-end;
}
.close:hover {
  background-color: transparent;
}
/* small tablet styles */
@media screen and (min-width: 620px) {
  /* 
  

    nav ul li:nth-child(2) a {
    color: var(--hight-light);
  }
  
  
  .book a {
    color: var(--bcw);
    background-color: #e89923;
    border-radius: 10px;
  } */
}
/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* destop styles */
@media screen and (min-width: 1200px) {
}
