@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Philosopher:wght@400;700&display=swap");

/* varialbes */

:root {
  /* colors */
  --bc: #000000;
  --bcw: #ffffff;
  --light-background: #f6eee5;
  --headings: #6b3f15;
  --high-light: #e89923;
  --active-button: #ffd552;
  /* fonts */
  --button-text: bolder 0.8rem / 3vw "Lato", sans-serif;
  --captions: small-caps calc(0.5em + 0.5vw) / 2vw "Lato", sans-serif;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* base styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 2px dotted red; */
}

/* fonts */

h1 {
  font: /* 4.375rem destop size */ bold calc(1.4em + 1vw) / 7vh "Philosopher",
    sans-serif;
}
h2 {
  font: /* 3.125rem destop size */ bold calc(1.3em + 1vw) / 6vh "Philosopher",
    sans-serif;
}
h3 {
  font: /* 2.187rem destop size */ bold calc(0.7em + 1vw) / 3vh "Philosopher",
    sans-serif;
}
p,
li {
  font: /* 1rem destop size */ calc(0.7em + 0.5vw) / 4vh "Lato", sans-serif;
}

body {
  font-family: var(--body-text);
}

/* mobil 320px first styles */
/* GLOBAL NAVIGATION */
.navMobil {
  display: flex;
  margin: 3vw;
  justify-content: space-between;
}
.hamburguer svg {
  width: calc(3rem + 2vw);
  max-height: 8vh;
  fill: var(--high-light);
}
nav {
  background: rgba(0, 0, 0, 0.4) url(../images/backgroundNav2.jpg) no-repeat top;
  background-blend-mode: multiply;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* positioning the close button */
  display: flex;
  /* animate slide up and down */
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
nav:target {
  /* menu fall down when clicking the hamburger menu */
  transform: translateY(0);
}

nav ul {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
}

nav ul li {
  border-bottom: solid 1.5px var(--headings);
}
nav ul a {
  width: 80vw;
  font: bold calc(1rem + 0.8vw) / 5vw var(--body-text);
  padding: 0.5em 0 0.5em 2em;
  display: block;
  color: var(--bc);
  transition: color 0.22s ease-in-out;
}
nav a:active {
  color: var(--active-button);
}
nav a:hover {
  color: var(--high-light);
}
.logoImg {
  width: calc(2rem + 5vw);
  height: auto;
}
.logo:hover {
  background-color: transparent;
  border-bottom: none;
}
.fa-solid {
  margin-left: calc(0.6px + 1vw);
}

.close {
  padding-left: 0%;
  color: var(--high-light);
}
.close:hover {
  background-color: transparent;
}

/* Second layer of nav style */
.dropDown {
  display: block;
  position: relative;
}

nav ul ul a {
  font: calc(1rem + 0.5vw) / 6vw var(--body-text);
  width: 40vw;
  margin: 0 auto;
  display: block;
}
nav ul ul li:last-child {
  border-bottom: none;
}
.submenu {
  position: absolute;
  background-color: var(--light-background);
  border-radius: 10px;
  display: none;
  z-index: 10;
}
.dropDown:hover > .submenu {
  display: block;
}

/* home main first section */
.sect1 {
  max-width: calc(80% + 2vw);
  margin: 2em auto 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  gap: 2em;
}

.sect1 div:first-child {
  display: flex;
  flex-direction: column;
  gap: 7vw;
}
h1 {
  color: var(--headings);
}
.bookbutton {
  color: var(--bcw);
  display: block;
  padding: 0.6em 0.8em;
  font: var(--button-text);
  text-align: center;
  border: solid 2px var(--high-light);
  width: calc(9em + 2vw);
  background-color: var(--high-light);
  border-radius: 10px;
}
.container {
  display: grid;
  place-items: center;
  place-content: center;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #e89923 0%,
    rgba(232, 153, 35, 0) 100%
  );
}
.firstImg {
  width: 55vw;
  aspect-ratio: 1/1;
  border-radius: 250px 250px 0px 0px;
}
.secondImg {
  position: absolute;
  justify-self: left;
  width: 33vw;
  border-radius: 250px 250px 0px 0px;
}
/* home main second section */
.sect2 {
  background-color: var(--light-background);
  padding-bottom: 4em;
}
.sect2 h2 {
  padding: 1em 0;
  text-align: center;
}
.mainCarousel {
  margin: 1em;
}
.carouselCell {
  width: 22em;
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  border-left: solid 1px var(--headings);
}

.flickity-viewport {
  height: 20vh;
}

.flickity-button.flickity-prev-next-button.previous,
.flickity-button.flickity-prev-next-button.next {
  top: 6em;
}

.testim1 {
  max-width: calc(7em + 1vw);
  border-radius: 50%;
}
.caption {
  font: var(--captions);
}

/* home main third and fifth sections */
.sect3,
.sect5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  max-width: calc(80% + 2vw);
  margin: 2em auto;
}
.sect3 div,
.sect5 div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.5em;
}
.sect3 h2,
.sect5 h2 {
  color: var(--headings);
}
.secondarybutton {
  display: block;
  width: calc(9em + 2vw);
  margin: 0 auto;
  border: solid 2px var(--high-light);
  color: var(--high-light);
  border-radius: 10px;
  padding: 0.6em 0.8em;
  font: var(--button-text);
  text-align: center;
}

.container2 {
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  place-content: center;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #e89923 0%,
    rgba(232, 153, 35, 0) 100%
  );
}
.thirdImg {
  max-width: 100%;
}
.sect3 span {
  color: var(--high-light);
}

/* home main fourth section */
.sect4 h2 {
  text-align: center;
  font-weight: 400;
  margin: 1em auto;
}
.sect4 ul {
  margin: calc(3em + 1vw);
  display: flex;
  flex-flow: row wrap;
  gap: calc(1em + 1vw);
  justify-content: space-around;
  align-items: center;
}
.sect4 ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.icons {
  margin: 0.5em;
  max-width: 3em;
}
/* home main services section */
.services {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(267.5px, 1fr));
  gap: 5vw;
  padding: 1em;
}
.services div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}
.services div div,
.services div:first-child {
  border-left: none;
  padding: 0%;
}
.services h3 {
  font-size: 1.3em;
  font-weight: 400;
}
.services ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5em;
}
.services li {
  list-style: disc;
}
.services a {
  color: var(--high-light);
  text-decoration: underline;
  font: bold var(--captions);
  display: block;
}
/* home main fifth section */

.fourthImg {
  max-width: 60%;
}
/*---------  PRODUCT LIST STYLES ---------*/

.page-headings {
  font: 35px "Philosopher", sans-serif;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
}

#product-list-sub-heading {
  font: 16px "Philosopher", sans-serif;
  font-weight: 300;
  margin-left: 10vw;
  margin-right: 10vw;
}

#product-list-container {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
}

#product-list-container .product-container {
  width: 240px;
  margin-bottom: 60px;
}

#product-list-container .product-image-container img {
  width: 240px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

#product-list-container .product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
  margin-left: 8px;
  margin-right: 8px;
}

#product-list-container .product-price-duration-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 15px 0px;
}

#product-list-container .product-price-duration-container p:first-child {
  font: 16px "Lato", sans-serif;
  font-weight: 700;
  color: var(--headings);
}

#product-list-container .product-price-duration-container p:last-child {
  font: 16px "Lato", sans-serif;
  font-weight: 400;
  color: var(--headings);
}

#product-list-container .product-description-container {
  margin: 10px 0px 15px 0px;
}

#product-list-container .product-description-container p:first-child {
  font: 18px "Lato", sans-serif;
  font-weight: 700;
  white-space: initial;
  margin-bottom: 5px;
}

#product-list-container .product-description-container .product-methodology {
  font: 14px "Lato", sans-serif;
  font-weight: 400;
  color: #746e65;
  margin-top: 10px;
}

#product-list-container .product-description-container p:last-child {
  font: 10px "Lato", sans-serif;
  font-weight: 400;
  color: #746e65;
  margin-top: 10px;
}

#product-list-container .book-now-button-small {
  padding: 16px 30px;
  background: linear-gradient(180deg, #e89a26 0%, #ebaf55 100%);
  border-radius: 15px;
  color: white;
  width: 160px;
  height: 50px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 60px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid var(--high-light);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.hide {
  display: none;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*---------  SINGLE PRODUCT STYLES ---------*/

.single-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.single-product-container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -20px -20px #f7d5a2;
}

.single-product-container .single-product-session-description {
  font: 12px "Lato", sans-serif;
  line-height: 1.4rem;
}

.single-product-container .single-product-title {
  margin: 20px 0px 20px 0px;
}

.single-product-container > div:last-child {
  padding: 30px 10vw 30px 10vw;
}

.single-product-container > div > div {
  margin-top: 20px;
}

.single-product-container > div > div p:first-child {
  font: 16px "Lato", sans-serif;
  font-weight: 700;
  color: var(--headings);
  margin-bottom: 6px;
}

.single-product-container > div > div p:last-child {
  font: 16px "Lato", sans-serif;
  font-weight: 400;
  color: var(--headings);
}

.book-session-container {
  padding: 50px 10vw 30px 10vw;
  font-family: "Lato", sans-serif;
}

.book-session-container > p {
  font: 12px "Lato", sans-serif;
}

.book-session-container > p:first-child {
  border-bottom: 1px solid black;
  padding-bottom: 13px;
}

.book-date-time-container p {
  font: 18px "Lato", sans-serif;
}

.book-date-time-container > p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 13px;
  font-size: 20px;
  font-weight: 700;
}

.book-date-time-container > p span {
  font-size: 10px;
  color: #7c7c7c;
}

.booking-process-container {
  margin-top: 40px;
}

.calendar-timeslots-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.calendar-month {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 13px;
  font-size: 12px;
}

.calendar-weekdays {
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  color: #7c7c7c;
}

.calendar-weekdays span {
  color: black;
}

.calendar-days-container {
  margin-top: 13px;
}
.calendar-days-container > div {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

.calendar-days-container span {
  color: black;
  padding: 5px 8px 5px 8px;
}

.calendar-days-container span:hover {
  background-color: var(--high-light);
  cursor: pointer;
  color: white;
}

.timeslots-container {
  margin-top: 30px;
}

.timeslots-title {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.timeslots-container > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 7);
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 13px;
}

.timeslots-container div:nth-child(2) div {
  border: 1px solid black;
  padding: 10px 30px 10px 30px;
  text-align: center;
  font-size: 14px;
}

.timeslots-container div:nth-child(2) div:hover {
  background-color: var(--high-light);
  cursor: pointer;
  color: white;
}

.booking-summary-container {
  margin-top: 40px;
}

.booking-summary-container p:first-child {
  font: 20px "Lato", sans-serif;
  border-bottom: 1px solid black;
  padding-bottom: 13px;
  font-weight: 700;
}

.booking-summary-container p:nth-child(2) {
  font: 12px "Lato", sans-serif;
  margin-top: 20px;
  border: 1px solid var(--high-light);
  border-radius: 15px;
  color: #e89923;
  padding: 4px 10px;
  width: 70%;
}

.booking-summary-container p:nth-child(2) > i {
  margin-right: 8px;
}

.booking-summary-container .book-now-button-small {
  font: 12px "Lato", sans-serif;
  padding: 16px 100px;
  background: linear-gradient(180deg, #e89a26 0%, #ebaf55 100%);
  border-radius: 15px;
  color: white;
  width: 160px;
  height: 50px;
  font-weight: 700;
  text-align: center;
}

.booking-summary-container p:nth-child(3) {
  font: 18px "Lato", sans-serif;
  margin-top: 25px;
}

.booking-summary-container p:nth-child(4) {
  font: 12px "Lato", sans-serif;
  margin-top: 8px;
  margin-bottom: 30px;
}
/* ------------about therapy page styles--------------- */
#aboutTherapyMain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323.5px, 1fr));
}
#aboutTContent1 {
  margin: 10% 10% 1% 10%;
}

#aboutTContent1 p {
  margin-top: 1%;
  margin-bottom: 3%;
}
#aboutTContent2 {
  margin: 5% 10% 0 10%;
}
#aboutTContent2 p {
  margin-top: 5%;
  margin-bottom: 5%;
}
.imgSize img {
  width: 40%;
  margin: 5% 0 5% 0;
}
.higlightSpan {
  color: var(--high-light);
}
#benefits {
  background-color: var(--light-background);
  padding: 5% 10% 5% 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 2%;
}
#benefits h2 {
  grid-column: span 2;
}
#benefits :nth-child(6) {
  grid-column: span 2;
}
#benefits > div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}
#benefits .benefitIcon {
  width: 25%;
}
#benefits .alone {
  width: 15%;
}
blockquote {
  margin: 5% 0 5% 0;
  font-size: 0.85em;
  font-style: italic;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  column-gap: 10%;
}
.grid img {
  width: 90%;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hiddenH2Small {
  display: none;
}
.gridSmallSize {
  margin-left: 10%;
  margin-right: 10%;
}
.gridLayoutLaptopHeal {
  margin-left: 10%;
  margin-right: 10%;
}
/* ------------about me page styles--------------- */
.gridLayoutMePage2 p {
  margin-top: 5%;
  margin-bottom: 5%;
}
.gridLayoutMePage2 {
  padding: 10% 10% 5% 10%;
}
#aboutMeMain {
  display: grid;
}
.aboutContent1 {
  padding: 10% 10% 5% 10%;
}
.aboutContent2 {
  padding: 10%;
}
.aboutContent1 h1,
.aboutContent1 h2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.aboutContent2 p {
  margin-top: 5%;
  margin-bottom: 5%;
}
#aboutMeMain img {
  width: 60%;
}
#qualifications {
  background-color: var(--light-background);
  padding: 10%;
}
#qualifications ul {
  margin-top: 3%;
  margin-bottom: 3%;
}
.gradientBackground {
  background: radial-gradient(circle at center, #e8992394 0%, transparent 60%);
}
#gradientBackgroundright {
  background: radial-gradient(circle at center, #e8992394 0%, transparent 60%);
  display: grid;
  justify-items: end;
  align-items: center;
  margin-top: 0;
}
#aboutMeMain .imageSizeBigger {
  width: 70%;
}
.aboutJudyVideo {
  width: 100%;
}
.aboutMeImgHidden {
  display: none;
}
/* ------------small tablet styles--------------- */
@media screen and (min-width: 647px) {
  /* home page section 1 style */
  .sect1 div:first-child {
    gap: 4vh;
    justify-content: center;
  }
  h1 {
    font: bold calc(1.3em + 1vw) / 5vh "Philosopher", sans-serif;
  }
  .sect1 p {
    font: /* 1rem destop size */ 1rem / 3vw "Lato", sans-serif;
  }
  .bookbutton {
    padding: 0.4em 0.5em;
    border-radius: 10px;
    font: var(--button-text);
  }

  .firstImg {
    width: 35vw;
  }
  .secondImg {
    width: 20vw;
  }

  #aboutTherapyMain {
    display: grid;
    grid-template-columns: 1fr;
  }
  #aboutTherapyMain .tablet {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
  }
  #aboutTherapyMain .tablet h1 {
    align-self: center;
    padding-bottom: 5%;
  }
  #aboutTherapyMain .tablet .gradientBackground {
    grid-column: 2/2;
    grid-row: 1 / span 2;
  }
  #aboutTherapyMain .tablet blockquote {
    grid-column: span 2;
  }
}
/* ------------medium tablet styles--------------- */

@media screen and (min-width: 685px) {
  /* GLOBAL NAVIGATION */
  nav {
    background: none;
    max-width: 100%;
    margin-top: 2vw;
    background-image: none;
    position: static;
    transform: translateY(0);
  }
  .navMobil,
  .close {
    display: none;
  }
  nav ul {
    flex-flow: row wrap;
    gap: 0.9em;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  nav ul li {
    border-bottom: none;
    gap: calc(16em + 1vw);
  }
  nav ul a {
    width: auto;
    font: bold 0.8em "Lato", sans-serif;
    padding: 0.6em;
    border-radius: 10px;
  }
  nav a:hover {
    background-color: transparent;
    color: var(--high-light);
    border-bottom: solid 2px var(--high-light);
  }
  .logo {
    margin: auto 5vw 0 3vw;
  }

  .logo a:hover {
    border-bottom: none;
  }
  .book a {
    color: var(--bcw);
    background-color: #e89923;
    /* padding: 0.4rem 0.2rem; */
  }
  /* Second layer of nav style*/
  nav ul ul a {
    width: auto;
    font: calc(1rem + 0.2vw) / 1vh var(--body-text);
  }

  .services div {
    border-left: 1px solid var(--headings);
    padding-left: 2em;
  }

  /* ------------about therapy page styles--------------- */
  #aboutTContent2 p {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .gridLaptopSize {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.1fr 1fr;
    margin: 10% 0 10% 0;
    align-items: center;
  }
  .gridLaptopSize .LaptopSizeImg {
    grid-row: span 2;
  }
  .laptopSize img {
    width: 85%;
  }
  .imgSize img {
    width: 50%;
    margin-bottom: 10%;
  }
  .h2LaptopSizeGrid {
    grid-row: 1;
    grid-column: 2;
  }
  .laptopSizeGridColumn {
    grid-row: 2;
    grid-column: 2;
  }
  .laptopSizeGridColumn p {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .gridLayoutLaptopHeal {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .gridLayoutLaptopHeal p {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .middle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .gridLayoutLaptopHeal .gridPharagraph {
    grid-column: 1;
    margin: 10% 0 0 10%;
  }
  .gridLayoutLaptopHeal .gradientBackground {
    grid-column: 2;
  }
  .gridLayoutLaptopHeal h2 {
    grid-column: 1;
  }
  .hiddenH2Small {
    display: contents;
  }
  .grid {
    display: contents;
  }
  .hiddenH2Laptop {
    display: none;
  }
  .gridLayoutBenefitLaptop {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    margin-bottom: 5%;
  }
  .gridLayoutBenefitLaptop img {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  #aboutTContent2 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .SmallerImg img {
    width: 90%;
  }
}

/* ------------------large tablets and laptop styles --------------------*/
@media screen and (min-width: 942px) {
  /* GLOBAL NAVIGATION */

  /* .logo {
    flex-basis: calc(10rem + 2vw);
  } */
  .book {
    margin-left: calc(1.3em + 1vw);
  }
  .laptopSize {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
  .laptopSize img {
    width: 70%;
  }
  #benefits .iconLaptopSize {
    width: 10%;
  }
  #benefits .alone {
    width: 5%;
  }
  /* home page style sect 4 */
  .sect4 ul {
    margin: 2em calc(6em + 1vw);
  }
  /* ------------about therapy page styles--------------- */
  #aboutTContent2 p {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .gridLaptopSize {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.1fr 1fr;
    margin: 10% 0 0 0;
    align-items: center;
  }
  .gridLaptopSize .LaptopSizeImg {
    grid-row: span 2;
  }
  .laptopSize img {
    width: 85%;
  }
  .imgSize img {
    margin-bottom: 10%;
  }
  .h2LaptopSizeGrid {
    grid-row: 1;
    grid-column: 2;
  }
  .laptopSizeGridColumn {
    grid-row: 2;
    grid-column: 2;
  }
  .gridLayoutLaptopHeal {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 0;
    padding: 0;
  }
  .gridLayoutLaptopHeal .gridPharagraph {
    grid-column: 1;
    margin: 10% 0 0 10%;
  }
  .gridLayoutLaptopHeal .gradientBackground {
    grid-column: 2;
  }
  .gridLayoutLaptopHeal h2 {
    grid-column: 1;
  }
  .hiddenH2Small {
    display: contents;
  }
  .grid {
    display: contents;
  }
  .hiddenH2Laptop {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  p,
  li {
    font-size: 1rem;
  }
  #product-list-container {
    justify-content: flex-start;
  }

  .single-product-container {
    flex-direction: row;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .single-product-container > div:last-child {
    padding: 40px 60px 0px 60px;
    align-self: flex-start;
  }

  .single-product-container .single-product-session-description {
    font: 16px "Lato", sans-serif;
    line-height: 1.6rem;
  }

  .booking-process-container {
    display: flex;
    justify-content: space-evenly;
  }

  .calendar-timeslots-container {
    flex-direction: row;
    column-gap: 60px;
    align-items: flex-start;
  }

  .timeslots-container {
    margin-top: 0px;
  }

  .book-date-time-container > p {
    align-items: flex-start;
  }

  .booking-summary-container {
    margin-top: 0px;
  }

  .booking-summary-container p:nth-child(2) {
    width: 100%;
  }

  .book-date-time-container > p {
    flex-direction: row;
    align-items: center;
  }
}
/* ------------------destop styles ----------------------------------------*/
@media screen and (min-width: 1024px) {
  /* GLOBAL NAVIGATION */

  nav ul a {
    width: auto;
    text-align: center;
    font: bold calc(1rem + 0.2vw) / 2vh var(--body-text);
    padding: 0.3em 0.5em;
  }

  h1 {
    font: bold calc(1.3em + 1vw) / 5vh "Philosopher", sans-serif;
  }
  /* home page section 1 style */

  .sect1 div:first-child {
    gap: 4vh;
    justify-content: center;
  }
  .bookbutton {
    padding: 0.1em 0.8em;
  }
  .secondImg {
    width: 18vw;
    /* top: 40vh; */
  }

  .sect4 ul li {
    flex: 1 1 30%;
  }

  /* -----------------about Therapy page stlyes ----------------- */
  #benefits {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0%;
  }
  #benefits h2 {
    grid-column: span 6;
  }
  #benefits :nth-child(2) {
    grid-column: span 2;
  }
  #benefits :nth-child(3) {
    grid-column: span 2;
  }
  #benefits :nth-child(4) {
    grid-column: span 2;
  }
  #benefits :nth-child(5) {
    grid-column: 2 / span 2;
  }
  #benefits :nth-child(6) {
    grid-column: 4 / span 2;
  }
  #benefits :nth-child(5),
  #benefits :nth-child(6) {
    display: flex;
  }
  #benefits .iconLaptopSize {
    width: 20%;
  }
  #benefits .alone {
    width: 20%;
  }

  /* -----------------about Her page stlyes ----------------- */
  #aboutMeMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutMeImgHidden {
    display: block;
  }
  .aboutContent2 {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5% 0 5% 5%;
    align-items: center;
    justify-items: end;
  }
  .gridLayoutLaptop {
    grid-column: 1;
  }
  .aboutContent2 video {
    grid-column: 2;
  }
  .aboutJudyVideo {
    width: 80%;
  }
  .gridLayoutMePage2 {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5% 0 5% 5%;
    align-items: center;
    justify-items: end;
  }
  .experienceGridLayout {
    grid-column: 1;
  }
  .aboutMeLayoutSide img {
    width: 80%;
    grid-column: 2;
  }
  .aboutMeLayoutSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #qualifications li {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #qualifications h3 {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  #qualifications {
    grid-row: 4;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5%;
    column-gap: 5%;
  }
  .presentTill2010 {
    border-right: 2px solid black;
    grid-column: 1;
  }
  .pastFrom2010 {
    grid-column: 2;
  }
}
/* ----------------- page stlyes ----------------- */

/* destop styles */
@media screen and (min-width: 1200px) {
  .page-headings {
    font-size: 50px;
  }
}
